/*------Media----- */
@media (max-width: 1012px) {
  #home-img {
    display: none;
  }

  #portfolio {
    height: 120rem;
    text-align: center;
  }

  #about {
    text-align: center;
    display: block;
    height: 50rem;
  }

  #about h1 {
    font-size: 1.9rem;
  }
  
  #about p {
    margin-left: 22px;
  }
}

@media (min-width: 278px) and (max-width: 767px) {
  body {
    flex-direction: column;
  }

  /*_______Home_______ */

  #home-content {
    text-align: center;
    margin-top: 200px;
  }

  #home-text {
    margin-left: 10px;
  }

  #home {
    height: 30rem;
  }

  #home-text h1 {
    font-size: 1.5rem;
  }

  /*______Contact _____ */

  .contact-btn {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  #contact {
    height: 70rem;
  }

  /*_______footer_______*/

  #footer {
    display: block;
    height: 25rem;
    padding: 40px;
  }

  .foot-logo {
    margin-left: 25px;
  }

  .footer-heading {
    font-size: 1.2rem;
    color: #23ce6b;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
