/*_____________ Media ____________ */
@media only screen and (max-width: 1200px) {
  #portfolio {
    height: 120rem;
  }
}
@media only screen and (max-width: 1012px) {
  #home-img {
    display: none;
  }

  #portfolio h1 {
    font-size: 1.8rem;
  }

  .relate {
    top: 60px;
  }

  #contact input,
  #contact textarea,
  #contact button {
    width: 320px;
  }

  #about {
    text-align: center;
    display: block;
    height: 50rem;
  }

  #about h1 {
    font-size: 1.9rem;
  }

  #about p {
    margin-left: 22px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    flex-direction: column;
  }
  #portfolio {
    height: 130rem;
  }

  /*_______Home_______ */

  #home-content {
    text-align: center;
    margin-top: 200px;
  }

  #home-text {
    margin-left: 10px;
  }

  #home {
    height: 30rem;
  }

  #home-text h1 {
    font-size: 1.5rem;
  }

  /*______Contact _____ */

  .contact-btn {
    display: block;
    width: 290px;
    margin: 0 auto;
  }

  #contact {
    height: 70rem;
  }

  /*_______footer_______*/

  #footer {
    display: block;
    height: 25rem;
    padding: 40px;
  }

  .foot-logo {
    margin-left: 25px;
  }

  .footer-heading {
    font-size: 1.2rem;
    color: #23ce6b;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
@media (min-width: 200px) and (max-width: 518px) {
  .relate {
    top: 20px;
  }
  #portfolio {
    height: 110rem;
  }
  .portfolio_boxes h2 {
    font-size: 1.2rem;
  }
  .portfolio_boxes p {
    font-size: 1rem;
  }
  #contact h1 {
    font-size: 2rem;
  }
  .button {
    display: none;
  }

  #contact {
    height: 50rem;
  }
}

@media screen and (max-width: 336px) {
  .about {
    height: 60rem;
  }

  #contact input,
  #contact textarea,
  #contact button {
    width: 250px;
  }
}
