@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 1.1rem;
  transition: all ease-in-out 0.2s;
  overflow-x: hidden;
  height: 200vh;
  transition: 0.3s;
}

body.light {
  color: #212121 !important;
  background-color: #ffffff !important;
}

/*_______Navbar_____*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body.light .header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav__close {
  display: none;
}

.nav__toggle {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.nav__link {
  color: whitesmoke;
  font-weight: 500;
}

.nav__logo {
  font-size: larger;
  font-weight: 600;
  color: #23ce6b;
  font-size: 1.9rem;
  font-family: "bruno ace";
}

body.light .nav__link {
  color: #212121;
}

/*Nav_media Queries */

@media (min-width: 240px) and (max-width: 840px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header {
    backdrop-filter: none;
    background-color: #212121;
  }
  body.light .header {
    backdrop-filter: none;
    background-color: #ffffff;
  }
  .nav__toggle,
  .nav__close {
    width: 32px;
    height: 32px;
    display: grid;
    border: 2px solid white;
    place-items: center;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(97, 97, 97, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 100%;
    width: 50%;
    padding: 7rem 3.5rem 3.5rem;
    transition: right 0.5s;
    z-index: 999;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav__close {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
  }

  .show-menu {
    right: 0;
  }
}

@media (min-width: 287px) and (max-width: 422px) {
  .nav__menu {
    padding: 7rem 2rem 3rem;
    width: 70%;
  }
}

/*_________Sroll-Bar_________*/

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #23ce6b;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  border-radius: 10px;
}

/*__________Home_________ */

#home {
  height: 100vh;
}
#home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 140px;
  font-family: "Poppins";
}
#home-text {
  margin-left: 100px;
}
#home-text h1 {
  margin-top: 20px;
  font-size: 2.8rem;
  font-family: "bruno ace";
}

#home-img {
  width: 400px;
  margin-right: 80px;
  margin-top: 30px;
  margin-left: 80px;
}
.color {
  font-size: 1.5rem;
  font-weight: 600;
  color: #23ce6b;
  margin-top: 16px;
  margin-bottom: 16px;
}
.home_btn {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid;
  background-color: rgb(94, 94, 94);
  border-radius: 20px;
  font-size: 0.9rem;
  color: #23ce6b;
  font-weight: 600;
  cursor: pointer;
}

/*___Hero typing Animation___ */

@keyframes typing {
  0% {
    content: "";
  }
  5% {
    content: "F";
  }
  10% {
    content: "Fr";
  }
  15% {
    content: "Fro";
  }
  20% {
    content: "Fron";
  }
  25% {
    content: "Front";
  }
  30% {
    content: "Fronte";
  }
  35% {
    content: "Fronten";
  }
  40% {
    content: "Frontend ";
  }
  45% {
    content: "Frontend D";
  }
  50% {
    content: "Frontend De";
  }
  55% {
    content: "Frontend Dev";
  }
  60% {
    content: "Frontend Deve";
  }
  65% {
    content: "Frontend Devel";
  }
  70% {
    content: "Frontend Develo";
  }
  75% {
    content: "Frontend Develop";
  }
  80% {
    content: "Frontend Develope";
  }
  85% {
    content: "Frontend Developer";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.7s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "Frontend Developer";
    }
    25% {
      content: "Frontend Developer";
    }
    50% {
      content: "Frontend Developer";
    }
    75% {
      content: "Frontend Developer";
    }
  }

  .typewriter::before {
    content: "Frontend Developer";
    animation: sequencePopup 4s linear infinite;
  }
}

/* ________About_________ */

.about-img {
  width: 44px;
  height: 44px;
  margin-right: 20px;
}

#about {
  display: flex;
  justify-content: space-around;
  height: 140vh;
}

#about h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  margin-bottom: 40px;
}

#about h3 {
  margin-bottom: 20px;
}

#about p {
  margin-right: 30px;
  font-size: 1.1rem;
}

/*_______Portfolio_______*/

#portfolio {
  height: 200vh;
}

#portfolio h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  margin-bottom: 100px;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-img {
  height: 50px;
  width: 50px;
}

.portfolio_boxes {
  border: 2px solid #212121;
  background-color: #2c2b2b;
  border-radius: 10px;
  height: 350px;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

body.light .portfolio_boxes {
  border: 1.2px solid grey;
}

.portfolio_boxes h2 {
  margin-top: 20px;
}

.portfolio_icon {
  display: flex;
  justify-content: space-between;
}

.portfolio_boxes:hover {
  background-color: #23ce6b;
  transition: all 1s;
}

body.light .portfolio_boxes {
  background-color: #ffffff;
}

.relate {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 80px;
}

/*________Contact Me______ */

#contact {
  height: 150vh;
}

#contact h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 40px;
}

#color {
  text-align: center;
  color: #23ce6b;
}

.button {
  border: 2px solid #23ce6b;
  background-color: #23ce6b;
  border-radius: 18px;
  margin-right: 20px;
  margin-top: 30px;
  width: 240px;
  color: black;
  padding: 30px;
}

.button img {
  height: 30px;
  width: 30px;
}

.contact-btn {
  display: flex;
  justify-content: center;
}

#contact h4 {
  text-align: center;
  margin-top: 60px;
  font-size: 1.8rem;
}

#contact input,
#contact textarea,
#contact button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 26rem;
  height: 40px;
  border: 1px solid #23ce6b;
  border-radius: 10px;
  background-color: #212121;
  padding: 10px;
}

body.light #contact input,
body.light #contact textarea,
#contact button {
  background-color: #ffffff;
}

#contact textarea {
  height: 150px;
}

#contact button {
  background-color: #23ce6b;
  color: black;
}

#contact button:hover {
  background-color: #0bba54;
  color: white;
}

/*_________footer_________ */

#footer {
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 190px;
  padding: 40px;
}

.foot-logo {
  margin-left: 100px;
  margin-bottom: 36px;
  font-size: larger;
  font-weight: 600;
  color: #23ce6b;
  font-size: 1.9rem;
  font-family: "bruno ace";
}

.text-footer {
  text-align: center;
  margin-top: 30px;
}

#footer i {
  font-size: 27px;
  padding: 5px;
}

.footer-heading {
  margin-bottom: 10px;
  color: #23ce6b;
  margin-left: 4px;
  font-weight: 600;
}
