@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #212121;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 1.1rem;
  transition: all ease-in-out 0.2s;
  overflow-x: hidden;
  height: 200vh;
}
.bx bx-adjust {
      body {
        background-color: white;
      }
}
/*_______Navbar_____*/
.logo {
  font-size: larger;
  font-weight: 600;
  color: #23ce6b;
  font-size: 1.9rem;
  font-family: "bruno ace";
}
header{
  backdrop-filter: blur (6px);
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur (6px);
}

#navbar nav {
  display: flex;
  gap: 2.8rem;
}
#navbar nav li {
  list-style: none;
  font-weight: 500;
}
#navbar nav li :hover {
  color: #23ce6b;
}
#navbar nav li a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
.hamburger {
  display: none;
}
/*_________Sroll-Bar_________*/

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #23ce6b;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  border-radius: 10px;
}
/*__________Home_________ */
#home{
  height: 100vh;
}
#home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 140px;
  font-family: "Poppins";
}
#home-text {
  margin-left: 100px;
}
#home-text h1 {
  margin-top: 20px;
  font-size: 2.8rem;
  font-family: "bruno ace";
  
}
@keyframes typing {
  0% { content: ""; }
  5% { content: "F"; }
  10% { content: "Fr"; }
  15% { content: "Fro"; }
  20%{ content: "Fron"; }
  25%{ content: "Front"; }
  30% { content: "Fronte"; }
  35% { content: "Fronten"; }
  40% { content: "Frontend "; }
  45% { content: "Frontend D"; }
  50% { content: "Frontend De"; }
  55% { content: "Frontend Dev"; }
  60% { content: "Frontend Deve"; }
  65% { content: "Frontend Devel"; }
  70% { content: "Frontend Develo"; }
  75% { content: "Frontend Develop"; }
  80% { content: "Frontend Develope"; }
  85% { content: "Frontend Developer"; }

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.7s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "Frontend Developer"; }
    25% { content: "Frontend Developer"; }
    50% { content: "Frontend Developer"; }
    75% { content: "Frontend Developer"; }
  }

  .typewriter::before {
    content: "Frontend Developer";
    animation: sequencePopup 4s linear infinite;
  }
}
#home-img {
  width: 400px;
  margin-right: 80px;
  margin-top: 30px;
  margin-left: 80px;
}
.color {
  font-size: 1.5rem;
  font-weight: 600;
  color: #23ce6b;
  margin-top: 16px;
  margin-bottom: 16px; 
  /* margin: 1rem 0 1rem 2rem; */
}
.home_btn {
  margin-top: 10px;
  padding: 16px;
  border: 2px solid #212121;
  background-color: #212121;
  border-radius: 30px;
  font-size: 1rem;
  color: #23ce6b;
  font-weight: 600;
  cursor: pointer;
}
.home_btn::after {
  content: "";
  position: absolute;
  top: 439px;
  left: 110px;
  bottom: 0;
  width: 0;
  height: 40px;
  background-color: white;
  transition: width 0.4s ease;
  border-radius: 20px;
  mix-blend-mode: difference;
}
.home_btn:hover::after {
  width: 10%;
  color: red;
}
/* ________About_________ */
.about-img{
      width: 40px;
      height: 40px;
      margin-right: 20px;
}
#about{
  display: flex;
  justify-content: space-around;
  height: 140vh;
}
#about h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  margin-bottom: 40px;
}
#about h3{
  margin-bottom: 20px;
}
#about p {
  margin-right: 30px;
  font-size: 1.1rem;
}
/*_______Portfolio_______*/
#portfolio{
  height: 200vh;
}
#portfolio h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  margin-bottom: 100px;
  text-align: center;
}
.box-line-1{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.box-1{
  
  border: 2px solid #212121;
  background-color: #2c2b2b;
  border-radius: 10px;
  height: 350px;
  width: 500px;
  padding: 20px;
  margin-left: 80px;
  margin-top: 40px;
  cursor: pointer;
}
#box-1{
  display: flex;
  justify-content: space-between;

}
.box-1:hover {
  background-color: #23ce6b;
}
.box-2:hover {
  background-color: #23ce6b;
}
.box-2{

  border: 2px solid #212121;
  background-color: #2c2b2b;
  border-radius: 10px;
  padding: 20px;
  height: 350px;
  width: 500px;
  margin-right: 60px;
  margin-top: 40px;
  cursor: pointer;

}
#box-2{
  display: flex;
  justify-content: space-between;
}
.box-img{
  height: 50px;
  width: 50px;
}

.box-line-2{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.relate {
   font-size: 1.2rem;
   font-weight: 600;
   position: relative;
   top: 100px;
}
/*________Contact Me______ */
#contact {
  height: 150vh;
}
#contact h1 {
  font-family: "bruno ace";
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 40px;
}
#color {
  text-align: center;
  color: #23ce6b;
  
}
.button {
  
  border: 2px solid #23ce6b;
  background-color: #23ce6b;
  border-radius: 18px;
  margin-right: 20px;
  margin-top: 30px;
  color: black;
  padding: 30px;
}
.button:hover {
  background-color: #E31F71;
  border: 2px solid #E31F71;
}
.button img {
  height: 30px;
  width: 30px;
}
.contact-btn {
  display: flex;
  justify-content: center;
}
#contact h4 {
  text-align: center;
  margin-top: 60px;
  font-size: 1.8rem;
}
#contact input,#contact textarea,#contact button{
  display: block;
  position: relative;
  top: 60px;
  left: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 26rem;
  height: 40px;
  border: 1px solid #23ce6b;
  border-radius: 10px;
  background-color: #212121;
  padding: 10px;
}
#contact textarea{
  height: 150px;
}
#contact button {
  background-color: #23ce6b;
  color: black;
}
#contact button:hover {
  background-color: #0bba54;
  color: white;
}
/*_________footer_________ */
#footer{
  display: flex;
  justify-content: space-around;
  align-self: center;
  height: 190px;
  padding: 40px;
}
.foot-logo{
    margin-left: 100px;
    margin-bottom: 36px;
    font-size: larger;
    font-weight: 600;
    color: #23ce6b;
    font-size: 1.9rem;
    font-family: "bruno ace";
}
.text-footer{
  text-align: center;
  margin-top: 30px;
}
#footer i {
  font-size: 27px;
  padding: 5px;
}
.footer-heading{
  margin-bottom: 10px;
  color: #23ce6b;
  margin-left: 4px;
  font-weight: 600;
}
